* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial;
  background-image: url("../images/bg.png");
}

.header{
  margin-top: 50px;
  font-size: 120px;
  font-weight: bold;
}

.colorBox{
  height: 300px;
  width:300px;
  border-radius: 200px;
  border: 6px solid #f7a23c;
  display: inline-block;
}

.row {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
